.formtitle{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
    font-family: $mainfont;
    font-size: 18px;
    font-weight: bold;
}

.spanform{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: $mainfont;
    font-size: 15px;
    
}


#formname{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    
}

#formemail{
    display: block;
    margin: auto;
    margin-top: 15px;

}

#formsubmit{
    display: block;
    margin: auto;
    font-family: $mainfont;
    margin-top: 40px;
    width: 30%;
    height: 30px;

}

.botonvolver{
    display: block;
    font-family: $mainfont;
    margin-left: 15px;
    width: 5%;
    
}

