<div class="bloque container">

    <div class="orden">

        
        <div class="trabajo uno">
            <div class="informacion">
                <a href="detail.html">
                <h2 class="workname">WALTER WHITE</h2></a>
                <br>
                <p class="workdescription">Fan art realizado tras visualizar la conocida serie 'Breaking Bad' donde Walter White se posiciona como protagonista de esta.
                    Muy contento con el resultado final y con el trabajo realizado.
                </p>
                 <br><br>
                <small class="views">305.941 views</small>
            </div>
            <a href="detail.html">
            <img class="imgdestacados" src="../img/frank.jpg" alt="">
        </a>
        </div>

        <div class="trabajo dos">
            <div class="informacion">
                <a href="detail.html">
                <h2 class="workname">ECORCHÉ</h2></a>
                <p class="workdescription">Con la finalidad del estudio anatómico me dispuse a esculpir el cuerpo humano desde su esqueleto hasta sus músculos, dividiendolo en un 
                    eje vertical. Además varias copias también las tenéis disponibles y están a la venta.
                </p>
                 <br><br>
                <small class="views">109.802 views</small>
            </div>
            <img class="imgdestacados" src="../img/ecorche.jpg" alt="">
        </div>

        <div class="trabajo tres">
            <div class="informacion">
                <a href="detail.html">
                <h2 class="workname">LOBEZNO</h2></a>
                <p class="workdescription">Comisión encargada por parte de 'Sideshow Collectibles'. Trabajo realizado conjuntamente con John Mikes y Igor Catto quienes se han ocupado,
                    además de la parte esculpida, de pintarla y maquetarla definitivamente.
                </p>
                 <br><br>
                <small class="views">126.946 views</small>
            </div>
            <img class="imgdestacados" src="../img/lobezno.jpg" alt="">
        </div>
        
    

    </div>









</div>
