<header class="webheader">

    
    <h1 class="title"><a href="index.html">DANIEL ALANDETE</a></h1>
   
    <div class="headerimgs">
        <img class="facebook" src="../img/facebook.png" alt="">
        <img class="twitter" src="../img/twitter.png" alt="">
    </div>

    <div class="rightheader">
        <label class="headerlabel" for="search"></label>
        <input type="text" id="search" name="search" placeholder="Search...">
        <a class="signup" href="detail.html">Sign up</a>
    </div>

</header>