<section class="sculptures">
   <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/ojoscristalinos.jpg" alt="">
        <div class="titulobra">Retrato</div>
        <div class="descripcion">Proyecto personal para estudiar la cara femenina. Trabajé con diferentes técnicas en cuanto a los ojos y el pelo.</div>
    </article>
    </a> 
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/fight.jpg" alt="">
        <div class="titulobra">Junior 'Cigano' Dos Santos</div>
        <div class="descripcion">Retrato para llevar a la práctica diferentes técnicas que utilizo en cuanto a poses y anatomía.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/tipical.jpg" alt="">
        <div class="titulobra">Raptor</div>
        <div class="descripcion">Basado en un concept llevé a cabo la anatomía animal a la práctica y mejorarla.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/tres.jpg" alt="">
        <div class="titulobra">Diseño de personajes</div>
        <div class="descripcion">Realizados mediante la escultura tradicional hace un par de años para el estudio personal.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/cuellomodel.jpg" alt="">
        <div class="titulobra">Estudio de la cara</div>
        <div class="descripcion">Modelos realizados para el estudio de la cara humana, así como son los rasgos de un anciano y expresión.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/cuellovestido.jpg" alt="">
        <div class="titulobra">Textura de la ropa</div>
        <div class="descripcion">Una vez realizado el anterior modelo, aproveché para estudiar el tejido de la ropa.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/calvotres.jpg" alt="">
        <div class="titulobra">Encargo</div>
        <div class="descripcion">Encargo realizado para una empresa de animación cuyo fin iba destinado a la producción de un corto.</div>
    </article>
    </a>
    <a href="detail.html">
    <article class="sculpt">
        <img class="img" src="../img/piloto.jpg" alt="">
        <div class="titulobra">Vikingo</div>
        <div class="descripcion">Inspirado en la serie protagonizada por Ragnar Lothbrok, me lancé a realizar un modelo con tales rasgos.</div>
    </article>
    </a>
    <br><br><br><br><br><br><br><br><br><br>
</section>

<br><br><br><br><br><br><br><br><br><br>