<div class="total container2">
    
    <div class="frank second">
        <img class="segundodetalle" src="../img/frank2.jpg" alt="">
    </div>
        
</div>

<div class="descripciontrabajo container">
        <h1 class="walter">WALTER WHITE</h1>
        <p class="white">Trabajo muy costoso y muy largo de realizar. Aproximadamente me llevó unos cuatro meses tras realizar toda la retopología, encajar todas las formas 
            secundarias y realizar un estudio muy exhaustivo de las arrugas del personaje. Primeramente me preparé una carpeta con una gran cantidad de fotos suyas como
            referencia para llevar a cabo el likeness portrait y así obtener el mejor resultado posible.
            En segundo lugar se realizó una primera maya con las formas primarias las cuales debían de ser muy correctas para el desarrollo posterior que debía ser muy correcto,
            ya que la base de la que se iba a partir debía de ser muy completa.
            Me centré principalmente en el rostro, ya que realizar un modelo de cuerpo entero resultaría mucho más costoso además de invertir una cantidad de tiempo aún mayor, algo
            que no me interesaba debido a que quería presentar esta pieza en mi portfolio personal.</p>
        <span class="obbad white">Personaje de Breaking Bad.©</span>
        <span class="white"><a href="https://www.pinterest.es/search/pins/?rs=ac&len=2&q=walter%20white&eq=walter%20w&etslf=6713&term_meta[]=walter%7Cautocomplete%7Cundefined&term_meta[]=white%7Cautocomplete%7Cundefined">Referencias.</a></span>
        
 </div>