// Font families
$mainfont: 'Mukta Mahee', sans-serif;

// Font sizes
$titulo: 15px;
$size-header: 20px;
$size-menu: 12px;
$size-menu-landscape: 15px;
$size-footer-title: 15px;
$size-footer-link: 14px;

// Base colors
$background-color: #f7f4f4;
$font-color: black;
$link-color: green;

//Top components
$leftpad: 30px;
$leftpad2: 140px;
$toppad: 10px;

//Margins
$title-margin-top: 10px;
$title-margin-bottom: 8px;
$title-margin-left: 5px;
$signup-margin-top: -22px;
$signup-margin-right: 60px;
$search-margin-top: -26px;
$search-margin-right: 5px;
$search-margin-left: 15px;
$imgs-margin-right: 120px;
$imgs-margin-top: -23px;


//Margins landscape




// Main components colors


// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

